[Unit]
Description=RClone VFS Service
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
TimeoutStopSec=60
Environment=GOMAXPROCS=2

ExecStart=%h/bin/rclone mount remote: %h/Stuff/Mount \
    --config %h/.config/rclone/rclone.conf \
    --use-mmap \
    # Dropbox is a polling remote so this value can be set very high and any changes are detected via polling.
    --dir-cache-time 9999h \
    # Recommended by ultra seedbox but could be switched to full.
    --vfs-cache-mode writes \
    # Speed up the reading: Use fast (less accurate) fingerprints for change detection
    --vfs-fast-fingerprint \
    # Set chunk size
    --vfs-read-chunk-size 32M \
    # Wait before uploading
    --vfs-write-back 1h \
    # This limits the age in the cache if the size is reached it removes the oldest files first
    --vfs-cache-max-age 9999h \
    # This limits the cache size to the value below. Only to be used with "full" cache mode.
    #--vfs-cache-max-size 200G \
    # The local disk used for caching. Only to be used with "full" cache mode.
    #--cache-dir=/cache/TV \
    # tpslimit + burst used by animosity22 for their dropbox
    --tpslimit 12
    --tpslimit-burst 0
StandardOutput=file:%h/scripts/rclone_vfs_mount.log
ExecStop=/bin/fusermount -uz %h/Stuff/Mount
Restart=on-failure

[Install]
WantedBy=default.target
